<section class='card'>
  <a href='/goods/{{id}}'>
    <header>{{name}}</header>

    <div class='card-body'>
      <img class="card-img-top img-fluid"
        src='/image/{{filename}}'
        alt='{{name}}'
      />
    </div>
  </a>
</section>