<section class="container">
  <h3 class="goods-name">{{shop.name}}</h3>
  <section class="flex-row justify-center">
    {{#each goods}}
    {{> bakedGood-details}}
    {{/each}}
  </section>
</section>