<section class="container">
  <h3 class="Type-name">{{Type.name}}</h3>
  <section class="flex-row justify-center">
    {{#each goodsType.Goods as |Good|}}
    {{> bakedGood-details}}
    {{/each}}
  </section>
</section>